{{navigation-bar wallet=model onCreateAccount=(route-action 'createAccount')}}

<main role="main">
  {{notification-center}}

  <div class="app-wrapper">  
    {{liquid-outlet}}

    
    {{log 'wallets/template :: sortedAccounts' sortedAccounts}}
    {{send-button
      wallet=model
      sortedAccounts=sortedAccounts
      isExpanded=isExpanded
      isSending=isSending
      onOpen=(action (queue (action 'openSend') (toggle 'isExpanded' this)))
      onClose=(action (queue (action 'closeSend') (toggle 'isExpanded' this)))
    }}
  </div>
</main>
