<section>
  <div class="container">
    <div class="card mb-2">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-auto">
            {{#link-to 'wallets.accounts.account.history' account bubbles=false class='settings' title=(t 'editAccountSettings')}}
              {{qr-code text=account.id width=170 height=170}}
            {{/link-to}}
          </div>
          <div class="col">
            {{account-label class="flex-row w-100 align-self-center" account=account}}
          </div>
          <div class="col-auto ml-auto">
            <p class="balance">
              <sup>
                <img src="{{root-url "images/logo.svg"}}" alt="{{t 'NANO'}}">
              </sup>
              {{format-amount account.balance}}
              <br>
              <sub>+{{format-amount account.pending}}</sub>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>